# Node modules
node_modules/

# Build / compiled folders
bin/
obj/
target/
dist/
build/
nul
# Env files
*.env
.env*

# Log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?